@model StatModel

<script type="text/javascript">
    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Passwords must match.');
        } else {
            input.setCustomValidity('');
        }
    }
</script>

@Html.AntiForgeryToken()

<div class="container" style="margin-top: 75px">
    <div class="row">
        <div class="col-md">
            <form action="@Url.Action("CreateCharacter")" method="post">
                <input name="submittalfield" class="visually-hidden" tabindex="-1" autocomplete="off">
                <div class="card text-center">
                    <div class="card-header">
                        <h4 class="card-title">Create a Character</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md">
                                Your vital stats:
                            </div>
                            <div class="col-md">
                                STR: @Model.Str
                            </div>
                            <div class="col-md">
                                INT: @Model.Int
                            </div>
                            <div class="col-md">
                                WIS: @Model.Wis
                            </div>
                            <div class="col-md">
                                DEX: @Model.Dex
                            </div>
                            <div class="col-md">
                                CON: @Model.Con
                            </div>
                            <div class="col-md">
                                <input type="button" class="btn btn-primary" onClick="window.location.reload();" value="Reroll" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <input type="text" class="charinput" placeholder="First Name" name="FirstName" required />
                            </div>
                            <div class="col-md">
                                <input type="text" class="charinput" placeholder="Last Name" name="LastName" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <input id="password" type="password" class="charinput" required placeholder="Password" />
                            </div>
                            <div class="col-md">
                                <input id="passwordConfirm" oninput="check(this)" type="password" class="charinput" placeholder="Confirm Password" name="Password" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <select name="Gender" required
                                        class="form-control"
                                        asp-items="Html.GetEnumSelectList<Legendary.Core.Types.Gender>()">
                                    <option value="">Select Gender</option>
                                </select>
                            </div>
                            <div class="col-md">
                                <select name="Race" required
                                        class="form-control"
                                        asp-items="Html.GetEnumSelectList<Legendary.Core.Types.Race>()">
                                    <option value="">Select Race</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <select name="Alignment" required
                                        class="form-control"
                                        asp-items="Html.GetEnumSelectList<Legendary.Core.Types.Alignment>()">
                                    <option value="">Select Alignment</option>
                                </select>
                            </div>
                            <div class="col-md">
                                <select name="Ethos" required
                                        class="form-control"
                                        asp-items="Html.GetEnumSelectList<Legendary.Core.Types.Ethos>()">
                                    <option value="">Select Ethos</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <textarea name="LongDescription" class="descinput" placeholder="Enter Description" required></textarea>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><input type="submit" class="btn btn-primary" value="Create" />&nbsp;<a class="btn btn-secondary" href="@Url.Action("Login")">Back</a></li>
                            <li class="list-group-item"><p class="alert">@Model</p></li>
                        </ul>
                        <div class="card-footer">
                            &copy;2022 Legendary
                        </div>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
</div>
