@model StatModel

<script src="~/js/create.js" asp-append-version="true"></script>

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

@Html.AntiForgeryToken()

<div class="container" style="margin-top: 75px">
    <div class="row">
        <div class="col-md">
            <form action="@Url.Action("CreateCharacter")" method="post">
                <input name="submittalfield" class="visually-hidden" tabindex="-1" autocomplete="off">
                <div class="card text-center">
                    <div class="card-header">
                        <h4 class="card-title">Create a Character</h4>
                    </div>
                    <div class="card-body">
                        <div class="row" style="color: #000">
                            <p style="text-align: left">
                                These are the required elements to create a character. Some things (like your description) can be changed or updated later. Your
                                stats are presently based on a maximum of 18, but they can be enhanced later on in the game depending on your racial abilities,
                                items, or skills.
                            </p>
                        </div>
                        <div class="row">
                            <p>
                                <h5 class="warning">WARNING: This game is intended for mature audiences. You may encounter graphic language and imagery, as well as engage in adult situations. As such, you must be 18 years or older to parcipate. All AI generated models are 18+. Consent should always be granted and is never implied. Players violating conduct rules will be removed and blocked.</h5>
                            </p>
                        </div>
                        <hr/>
                        <div class="row" style="color: #000">
                            <div class="col-md">
                                Your vital stats:
                            </div>
                            <div class="col-md">
                                STR: <span style="font-weight: bold" id="str">@Model.Str</span>
                            </div>
                            <div class="col-md">
                                INT: <span style="font-weight: bold" id="int">@Model.Int</span>
                            </div>
                            <div class="col-md">
                                WIS: <span style="font-weight: bold" id="wis">@Model.Wis</span>
                            </div>
                            <div class="col-md">
                                DEX: <span style="font-weight: bold" id="dex">@Model.Dex</span>
                            </div>
                            <div class="col-md">
                                CON: <span style="font-weight: bold" id="con">@Model.Con</span>
                            </div>
                            <div class="col-md">
                                <input type="button" class="btn btn-primary" onClick="reroll()" value="Reroll" />
                            </div>
                        </div>
                        <hr/>
                        <div class="row" style="color: #000">
                            <p style="text-align: left">
                                Your name needs to be unique, as only one character may posess it. Think of a creative fantasy name and avoid common
                                names. You may be required to change it otherwise. Also, do not include numbers, spaces, or special characters, as they
                                will be removed. <b>You will use just your first name to login.</b>
                            </p>
                            <p style="text-align: left">
                                Your password must contain a minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character.
                                They are hashed and salted on our side, so if you lose your password, it is not recoverable, but may be able to be reset.
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" class="charinput" placeholder="First Name" onblur="checkName(this)" name="FirstName" required />
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="charinput" placeholder="Last Name" onblur="checkName(this)" name="LastName" />
                            </div>
                            <div class="col-md-3">
                                <input id="password" type="password" class="charinput" required placeholder="Password" />
                            </div>
                            <div class="col-md-3">
                                <input id="passwordConfirm" onblur="check(this)" type="password" class="charinput" placeholder="Confirm Password" name="Password" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <select name="Gender" required
                                        class="form-control"
                                        asp-items="Html.GetEnumSelectList<Legendary.Core.Types.Gender>()">
                                    <option value="">Select Gender</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select id="ddlRace" class="form-control" asp-for="SelectedRace" asp-items="@(new SelectList(Model.PlayerRaces))"></select>
                            </div>
                            <div class="col-md-3">
                                <select id="ddlAlign" class="form-control" asp-for="SelectedAlignment" asp-items="@(new SelectList(Model.Alignments))"></select>
                            </div>
                            <div class="col-md-3">
                                <select name="Ethos" required
                                        class="form-control"
                                        asp-items="Html.GetEnumSelectList<Legendary.Core.Types.Ethos>()">
                                    <option value="">Select Ethos</option>
                                </select>
                            </div>
                        </div>
                        <hr/>
                        <div class="row" style="color: #000">
                            <p style="text-align: left">
                                Your description is important! It will be used by the AI to dynamically generate your avatar image, and will be the first
                                thing most people notice about you. It's recommended that you provide 8 to 12 sentences describing your character as another
                                character would see you. Avoid "feelings" like "you are scared when you look upon me", and focus more on literal descriptions.
                                If you're stuck, or need some help, try giving some keywords to <a href="https://chat.openai.com/chat" target="_blank">OpenAI</a> and see what it comes up with!'
                            </p>
                            <p>When you login, you may type AVATAR to generate your avatar. You can do this once per level.</p>
                        </div>                        
                        <div class="row">
                            <div class="col-md">
                                <textarea name="LongDescription" class="descinput" onblur="checkDesc(this)" placeholder="Enter Description" required maxlength="1000"></textarea>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><input type="submit" class="btn btn-primary" value="Create" />&nbsp;<a class="btn btn-secondary" href="@Url.Action("Index")">Back</a></li>
                            <li class="list-group-item"><p class="alert">@Model.Message</p></li>
                        </ul>
                        <div class="card-footer">
                            &copy;2022-@DateTime.Now.Year Legendary
                        </div>
                    </div>
                    </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="avatarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:1340px;max-width: 100%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color: #000; font-weight: bold">Build Your Avatar</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12" style="text-align: center;">
                            <iframe id="frame" width="1280" height="800" class="frame" allow="camera *; microphone *; clipboard-write"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>