@model LoginModel
@using System

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<form action="@Url.Action("Game")" method="post">
    <div class="container" style="margin-top: 75px">
        <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <div class="card text-center">
                <div class="card-header">
                    <h4 class="card-title">Login to Legendary</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">This is a BETA build (@Model.BuildSettings?.Version). The game is fully playable, but there is a high likelihood of frequent changes. We'd love to have your feedback!</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><input type="text" class="form-control" placeholder="Enter user name" name="username" /></li>
                        <li class="list-group-item"><input type="password" class="form-control" placeholder="Enter password" name="password" /></li>
                        <li class="list-group-item"><input type="submit" class="btn btn-primary" value="Login" />&nbsp;<a class="btn btn-secondary" href="@Url.Action("CreateUser")">Create Character</a></li>
                        <li class="list-group-item"><p class="alert">@Model.Message</p></li>
                    </ul>
                </div>
                <div class="card-footer">
                    Build @Model.BuildSettings?.Version Last Release @Model.BuildSettings?.ReleaseDate?.ToShortDateString()
                </div>
            </div>
        </div>
        <div class="col-sm"></div>
    </div>
       </div>
</form>

